---
title: "What to expect at Predict 2019, a virtual reality conference"
author: Tina Sturgis
author_gitlab: TinaS
author_twitter: t_sturgis
categories: company
image_title: /images/blogimages/woman-wearing-vr-goggles.jpg
description: "Break out your sunglasses because the cloud native forecast for 2019 is sunny."
tags: DevOps, kubernetes, cloud native, events
cta_button_text: 'Sign up now'
cta_button_link: 'https://predict2019.com/#join-us'
ee_cta: false
twitter_text: "Join @gitlab at #predict2019 Virtual Conference"
postType: corporate
---

✅ Learn about up and coming tech trends in 2019

✅ For free

✅ Without leaving your desk

If your response is ["Sign me up!"](https://predict2019.com), let's talk about Predict 2019.

## What is Predict 2019?

[Predict 2019](https://predict2019.com) is the industry’s first truly immersive, virtual reality conference focused on predictions on the future of DevOps, Security, and related technology. Taking place on Dec. 18, [Predict 2019](https://predict2019.com) is hosted on a platform that makes it look and feel like a real conference, with simulated theaters to view the keynotes and presentations, a conference lobby for chatting and socializing, and a virtual expo floor with exhibitor stands equipped with video, downloads, and even swag for you to take. This exciting event is offered through MediaOps, the company behind technical communities such as DevOps.com, Container Journal, Security Boulevard, and DevOps TV. So when GitLab had an opportunity to be a premier sponsor for Predict 2019, we jumped at the chance.

<%= partial "includes/blog/content-newsletter-cta", locals: { variant: "b" } %>

## GitLab at Predict 2019

### Speakers

During the event on Dec. 18, GitLab's [Brandon Jung](/company/team/#brandoncjung), VP of Alliances, will be speaking at a theater session called "Accelerate software delivery: How to make 2019 your cloud-native year" at 2 p.m. EST.

Additionally, Senior Product Marketing Manager [Cindy Blake](/company/team/#cblake2000) will take part in a panel session, "Ubiquitous Open Source makes for security challenges," at 12 p.m. EST.

Don’t worry if you are already booked for the day of the event; the virtual conference will be available to attend for 90 days afterwards too.

### Booth and swag

We will also have a GitLab virtual booth located in the exhibit hall where you will have access to loads of information in the form of videos, webpage links, and pdf files to download and review immediately or take with you for future reference.
You won't even need a bag to carry it all with you! Bonus!

During the live event we will have GitLabbers on hand to chat with and answer your questions, and if you visit our booth we'll arm you with a code for a FREE GitLab T-shirt from the [GitLab swag store](https://shop.gitlab.com/).

[Sign up now to attend Predict 2019](https://predict2019.com/#join-us)!
{: .alert .alert-gitlab-purple}

Photo by [JESHOOTS.COM](https://unsplash.com/photos/xGtHjC_QNJM?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText) on [Unsplash](https://unsplash.com/search/photos/virtual-reality?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText)
{: .note}
